---
import Logo from "../../../public/images/logo.png";
---

<section>
    <nav class="bg-shark-50 border-nature-800">
        <div
            class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
        >
            <a
                href="https://flowbite.com/"
                class="flex items-center space-x-3 rtl:space-x-reverse"
            >
                <img src={Logo.src} class="h-10" alt="Flowbite Logo" />
            </a>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="text-sm font-heading font-semibold flex flex-col p-4 md:p-0 mt-4 border border-nature-800 rounded-lg bg-shark-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-shark-50"
                >
                    <li>
                        <a
                            href="#"
                            class="block py-2 px-3 text-nature-600 rounded-sm md:bg-transparent md:p-0 uppercase"
                            aria-current="page">Inicio</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 px-3 text-shark-800 rounded-sm md:bg-transparent md:p-0 uppercase hover:text-nature-700"
                            >Sobre el Congreso</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 px-3 text-shark-800 rounded-sm md:bg-transparent md:p-0 uppercase hover:text-nature-700"
                            >Organización</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 px-3 text-shark-800 rounded-sm md:bg-transparent md:p-0 uppercase hover:text-nature-700"
                            >Ubicación</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 px-3 text-shark-800 rounded-sm md:bg-transparent md:p-0 uppercase hover:text-nature-700"
                            >Expositores</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 px-3 text-shark-800 rounded-sm md:bg-transparent md:p-0 uppercase hover:text-nature-700"
                            >Ejes Temáticos</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 px-3 text-shark-800 rounded-sm md:bg-transparent md:p-0 uppercase hover:text-nature-700"
                            >Programa</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
