---
import Title from "../elements/Title.astro";
import SubTitle from "../elements/SubTitle.astro";
import ImgPlaneta from "../../../public/images/about/img.jpg";
---

<section class="mx-auto px-3 max-w-7xl xs:px-10 mb-10 scroll-mt-15" id="about">
    <Title text="Sobre el Congreso" />
    <div class="mx-auto md:flex md:items-stretch md:gap-6">
        <div class="md:w-1/2">
            <SubTitle
                text="¡San Juan se transforma y vos podés ser parte del cambio!"
            />

            <p class="text-body text-md text-shark-800 mt-8">
                En un mundo donde la sostenibilidad ya no es una opción, sino
                una necesidad urgente, San Juan se posiciona como un referente
                en innovación y desarrollo sostenible. El <span
                    class="text-aqua-800 font-bold"
                    >III Congreso Internacional "SAN JUAN + SOSTENIBLE"</span
                > es el espacio donde la academia, las empresas, el sector público
                y la sociedad civil se unen para construir soluciones estratégicas.
            </p>

            <p class="text-body text-md text-shark-800 mt-8">
                Este evento reunirá a expertos internacionales, líderes
                empresariales y académicos para debatir, intercambiar ideas y
                proponer acciones concretas para un futuro sostenible.
            </p>
        </div>
        <div
            class="py-5 md:w-1/2 md:py-0 border-b-3 border-r-3 border-aqua-800 rounded"
        >
            <img
                src={ImgPlaneta.src}
                alt="Descripción de la imagen"
                class="w-full object-cover h-full px-3 py-0 md:py-3 rounded"
            />
        </div>
    </div>
</section>
