---
import image from "../../../public/images/anchipurac.png";
import image2 from "../../../public/images/bg-acent.jpeg";
import Button from "../elements/Button.astro";
---

<section class="mx-auto mb-10 scroll-mt-15">
    <div
        class="w-full bg-gradient-to-r from-nature-200 to-sun-200 py-10"
        id="place"
    >
        <div class="mx-auto px-5">
            <div
                class="mx-auto max-w-6xl flex flex-col md:flex-row lg:items-center md:gap-6 py-6 text-center md:text-left"
            >
                <!-- Imagen del lugar -->
                <img
                    src={image.src}
                    alt="Centro Ambiental Anchipurac"
                    class="w-2/3 md:w-1/3 lg:w-1/4 mx-auto md:mx-0 md:mr-4 my-4"
                />

                <!-- Contenedor de texto -->
                <div class="md:w-2/3 lg:w-3/4">
                    <h2 class="font-heading text-3xl font-bold text-aqua-950">
                        Conoce la sede, conoce el Centro Ambiental Anchipurac
                    </h2>
                    <p
                        class="font-body md:text-md lg:text-lg text-shark-700 mt-4"
                    >
                        Ubicado en la provincia de San Juan, Argentina, el
                        Centro Ambiental Anchipurac es un referente en educación
                        ambiental y sostenibilidad. Su innovadora arquitectura y
                        enfoque ecológico lo convierten en un espacio único para
                        aprender sobre el cuidado del planeta.
                    </p>
                    <Button
                        content="¡Quiero conocerlo!"
                        href="https://anchipurac.sanjuan.gob.ar/"
                        target="_blank"
                        aling="start"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
