---
import Title from "../elements/Title.astro";
import Topic from "../elements/Topic.astro";
import Data from "../../data/SectionTopics.json";
---

<section class="mx-auto px-3 max-w-7xl xs:px-10 mb-10 scroll-mt-15" id="topics">
    <Title text="Temáticas" />

    <div class="grid gap-10 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-10">
        {
            Data.map((item) => (
                <Topic title={item.title} body={item.body} image={item.image} />
            ))
        }
    </div>
</section>
