---
import Title from "../elements/Title.astro";
import SubTitle from "../elements/SubTitle.astro";
import Data from "../../data/SectionFeatures.json";
import Feature from "../elements/Feature.astro";
---

<section
    class="mx-auto px-3 max-w-7xl xs:px-10 mb-10 scroll-mt-15"
    id="features"
>
    <Title text="Claves" />
    <div class="mt-15">
        <div class="md:w-1/2">
            <SubTitle
                text="Las claves que lo hace especial, interesante y sustentable"
            />
        </div>
    </div>

    <div
        class="grid gap-6 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-10 md:mt-20"
    >
        {
            Data.map((item) => (
                <Feature
                    title={item.title}
                    body={item.body}
                    image={item.image}
                />
            ))
        }
    </div>
</section>
