---
const { content, href, target, aling } = Astro.props;
---

<div class=`mt-15 gap-4 md:text-${aling} mb-10`>
    <a
        href={href}
        target={target}
        class="font-heading uppercase rounded-sm bg-nature-600 px-8 py-5 text-lg font-semibold text-aqua-50 shadow-sm hover:bg-nature-400 focus:ring-3 focus:outline-hidden w-auto"
    >
        {content}
    </a>
</div>
