---
const { content, href, target, aling } = Astro.props;
---

<div class=`mt-15 gap-4 md:text-${aling} mb-10`>
    <a
        href={href}
        target={target}
        class="font-heading uppercase rounded-full bg-nature-600 px-5 py-4 text-sm sm:text-md font-semibold text-aqua-50 shadow-sm hover:bg-nature-700 focus:ring-3 focus:outline-hidden w-auto"
    >
        {content}
    </a>
</div>
