---
const { title, subtitle, body, country, altc, image, alti } = Astro.props;
---

<div class="bg-shark-50 rounded-lg p-3 text-center">
    <img
        src={`/images/countries/${country}`}
        alt={altc}
        class="w-20 h-20 mx-auto mb-1 rounded-full object-cover"
    />
    <h3
        class="font-heading font-bold text-nature-950 leading-6 text-md sm:text-lg lg:text-xl"
    >
        {title}
    </h3>
    <p class="font-body text-shark-800 text-sm sm:text-md lg:text-lg">
        {subtitle}
    </p>
</div>
