---
const { text } = Astro.props;
---

<div class="text-center md:text-start">
    <h2
        class="font-heading font-bold tracking-tight text-aqua-950 md:mx-auto text-lg sm:text-xl lg:text-2xl"
    >
        <span class="relative inline-block">
            {text}
        </span>
    </h2>
</div>
