---
const { title, body, image } = Astro.props;
---

<div class="flex items-center bg-shark-50 rounded-lg p-3">
    <img
        src={`/images/topics/${image}`}
        alt="Gestión"
        class="w-16 h-16 rounded-full border-4 border-nature-950 bg-nature-50 p-2"
    />
    <div class="ml-4">
        <h3
            class="font-heading font-bold text-nature-950 leading-6 text-md sm:text-lg lg:text-xl"
        >
            {title}
        </h3>
        <p class="font-body text-shark-800 text-sm sm:text-md lg:text-lg">
            {body}
        </p>
    </div>
</div>
