---
const { image, title, body } = Astro.props;
---

<div class="sm:mx-auto text-center my-1 px-10">
    <div
        class="flex items-center justify-center w-13 h-13 mb-4 rounded-full bg-nature-950 mx-auto sm:w-20 sm:h-20"
    >
        <img src={`/images/objetives/${image}`} alt="" class="h-8 sm:h-12" />
    </div>
    <h3
        class="font-heading font-bold text-nature-950 leading-6 text-md sm:text-lg lg:text-xl mb-1 md:mb-3"
    >
        {title}
    </h3>
    <p class="font-body text-shark-800 mb-3 text-sm sm:text-md lg:text-lg">
        {body}
    </p>
</div>
