---
// src/components/SponsorStandard.astro
const { title, body, link, logo, primary_color } = Astro.props;
---

<div class="w-full flex items-center justify-center p-4">
    <a href={link} target="_blank" class="flex justify-center">
        <img
            src={`/images/sponsors_standard/${logo}`}
            alt={title}
            class="max-h-20 object-contain grayscale opacity-70 hover:opacity-100 transition"
        />
    </a>
</div>
