---
const { text } = Astro.props;
---

<h2
    class="font-heading text-2xl font-bold tracking-tight text-aqua-950 md:text-3xl md:mx-auto"
>
    <span class="relative inline-block">
        {text}
    </span>
</h2>
