---
const { title, body, image } = Astro.props;
---

<div class="flex items-center bg-shark-50 rounded-lg p-6">
    <img
        src={`/images/topics/${image}`}
        alt="Gestión"
        class="w-16 h-16 rounded-full border-4 border-nature-950 bg-nature-50 p-2"
    />
    <div class="ml-4">
        <h3 class="text-2xl font-bold text-aqua-950">
            {title}
        </h3>
        <p class="text-md text-shark-800">
            {body}
        </p>
    </div>
</div>
