<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Meta Información SEO -->
		<meta name="generator" content="{Astro.generator}" />
		<meta
			name="description"
			content="Congreso internacional de desarrollo sostenible para académicos y empresarios enfocado a la innovación y sostenibilidad global."
		/>
		<meta
			name="keywords"
			content="congreso desarrollo sostenible, innovación, sostenibilidad, académicos, empresarios, conferencia internacional, tecnologías verdes, cambio climático"
		/>
		<meta name="robots" content="index, follow" />

		<!-- Meta Open Graph para redes sociales -->
		<meta
			property="og:title"
			content="Congreso Internacional de Desarrollo Sostenible"
		/>
		<meta
			property="og:description"
			content="Únete al Congreso Internacional de Desarrollo Sostenible: un evento que reúne a académicos, empresarios y expertos para discutir soluciones innovadoras en sostenibilidad."
		/>
		<meta property="og:image" content="/images/social-image.jpg" />
		<!-- Cambia la ruta por la imagen adecuada -->
		<meta property="og:url" content="https://tusitio.com" />
		<meta property="og:type" content="website" />

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Congreso Internacional de Desarrollo Sostenible"
		/>
		<meta
			name="twitter:description"
			content="Acompáñanos en el Congreso Internacional de Desarrollo Sostenible para explorar las mejores prácticas y soluciones para un futuro más verde."
		/>
		<meta name="twitter:image" content="/images/social-image.jpg" />
		<!-- Cambia la ruta por la imagen adecuada -->

		<!-- Título de la página -->
		<title>"Congreso Internacional de Desarrollo Sostenible"</title>

		<!-- Pre-conexión a fuentes externas -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<!-- Fuentes Google -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- FontAwesome para iconos -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
			integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
			crossorigin="anonymous"
		/>

		<!-- Enlaces canónicos para evitar duplicados -->
		<link rel="canonical" href="https://tusitio.com" />

		<!-- Otras etiquetas SEO recomendadas -->
		<meta
			name="author"
			content="Comité Organizador del Congreso Internacional de Desarrollo Sostenible"
		/>
		<meta name="language" content="es, en" />
		<!-- Idiomas disponibles en la web -->
	</head>

	<body class="bg-shark-50">
		<main>
			<slot />
		</main>
	</body>
</html>
